*{
    margin:0;
     padding:0; 
     box-sizing:border-box} 



     a{
        text-decoration: none;
     }

     .header_container{
        display: flex;
        justify-content: space-between;
        margin: 48px 140px;
        
    
     }

     .nav_bar{
        display: flex;
 
    }
    .nav_bar_a{
        color: black;
    }

     li{
        padding: 21px;
        list-style-type: none;
     }

     .sell_something{
        color:white;
        background-color: #29B24E;
        border-radius: 12px;
        padding: 13px;
        display: flex;
        align-items: center;
        height: 47px;

     }
     
     .site-icon{
        max-width: 48px;
        height: 48px;
     }

     .Location{
        max-width: 395px;
        margin: 0 140px;
        padding: 10px;
      
     }

     .check_1{
        
        gap: 20px;
        font-size: 14px;
        display: grid;
        gap: 10px;
       
        
       
     }
   .serach_location{
    margin-top: 16px;
    border-color: #F8F8F8;
    
   }
   
   .property{
    padding-top: 46px;
   }

   .price-range{

    padding-top: 39px;
    
   }
   
   .check_2{
        
        gap: 20px;
        font-size: 14px;
        display: grid;
        gap: 10px;
        font-size: 14px;
       

   }
   .city-image{
   max-width: 1220px;
   height: 600px;
   position: relative;
   }

 .section_1{
    display: flex;
 }
 .photoBig-text{
    font-size: 48px;
    position: absolute;
    top:230px;
    
 }
     