*{
    margin:0;
     padding:0; 
     box-sizing:border-box} 



     a{
        text-decoration: none;
     }
     .header_container{
        display: flex;
        justify-content:space-around;
        align-items: flex-end;
        margin: 20px 0;

        
        
    
     }
     .nav_bar{
        display: flex;
 
    }
    .nav_bar_a{
        color: black;
    }
    li{
        padding: 21px;
        list-style-type: none;
     }

     .sell_something{
        color:white;
        background-color: #29B24E;
        border-radius: 12px;
        padding: 13px;
        display: flex;
        align-items: center;
        height: 47px;

     }
     .site-icon{
        max-width: 48px;
        height: 48px;
     }
     .main-photo{
        max-width:810px;
        width: 100%;
        

    }
    .section_1{
        display: flex;
    }
   
    .right_side{
        display: grid;
        justify-content: center;
        max-width:786px;
        width:100%;
        margin-left: 44px;
        
        

    }
    .top_text{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        
    }
    .eyeFrame{
        display: flex;
       
    }
    .right_side_bigtext{
        max-width: 611px;
        font-size: 14px;
        padding-top: 32px;
    }

    .Posted_time,
    .bottom_text span,
    .Paragrap_text span{
        opacity: 70%;
        font-size: 12px;
        
    }

   
     .Top{
        font-size: 12px;
        background-color: #29B24E;
        color: #F8F8F8;
        border-radius: 15px;
        max-width:65px;
        padding: 4px;
    }
    h2{
        padding-top:24px;
    }
    .Kiambu{
        padding-top: 12px;
    }
    .right_side_secondUl ul{
        display: flex;
        justify-content: flex-start;
        font-size: 14px;
        padding-top: 57px;
        margin-left: -10px;
        
    }

    .main_container{
        margin: 50px;
    }
    .bottom_text{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .homePrice{
        color:#29B24E;
        font-size: 36px;
        weight:600;
    }
    .sent_message{
        border:1px solid #29B24E;
        max-width: 154px;
        border-radius:12px ;
        padding: 13px;
        color:#29B24E;
        font-size: 14px;
    }
    .Call{
        background-color: #29B24E;
        color: #F8F8F8;
        padding: 13px;
        max-width: 80px;
        border-radius: 12px;
    
    }
    .rightSide-bottomPart{
        padding-top: 49px;
        display: flex;
        justify-content: space-between;
    }
    .bottom_button{
    
        display: grid;
        grid-template-columns: auto auto;
        gap:16px;
    
    }
    .section_2{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .Namanga{
        max-width: 395px;
        width: 100%;
    }
    .Home_all{
        position: relative;
        max-width: 363px;
        width: 90%;
     }
     .Destination{
        font-size: 16px;
     }
     .Home_name{
        font-size: 14px;
        color: #000000;
        opacity: 50%;
        padding: 8px;
     }
     .Time{
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
        align-items: center
     }
     .Price_Home{
        color:#29B24E;
        font-size: 24px;
     }

     .Namanga ul{
        display: flex;
        font-size: 14px;
     }
     .Top_1{
        font-size: 12px;
        background-color: #29B24E;
        color: #F8F8F8;
        border-radius: 15px;
        max-width:65px;
        padding: 4px;
     }
     .Top{
        position: absolute;
        font-size: 12px;
        background-color: #29B24E;
        color: #F8F8F8;
        border-radius: 15px;
        max-width:65px;
        padding: 4px;
     }
     .Namanga a{
        color:#000000;
     }
     .main_container{
        display: grid;
        gap: 40px;
        justify-content: center;
     }
     footer{
        background-color: #29B24E;
      
        height: 150px;
        border-radius: 20px;
      
     }
    
     
     .footer_nav{
        display: flex;
       align-items: baseline;
       justify-content: space-around;
       border-bottom: 1px white solid;
       

   }
   footer a{
    color: #F8F8F8;
 }
 footer ul{
    display: flex;
 }

 .footer_line{
    max-width: 1640px;
    width: 100%;
    
 }
 footer p{
    display: flex;
    color:#F8F8F8;
    justify-content: center;
    padding: 32px;
 }
 .Namanga > .Top{
    position: absolute;
 }

     
  