*{
    margin:0;
     padding:0; 
     box-sizing:border-box} 



     a{
        text-decoration: none;
     }

     .header_container{
        display: flex;
        justify-content:space-between;
        align-items: flex-end;
        margin: 20px 70px;

        
        
    
     }

     .nav_bar{
        display: flex;
 
    }
    .nav_bar_a{
        color: black;
    }

     li{
        padding: 21px;
        list-style-type: none;
     }

     .sell_something{
        color:white;
        background-color: #29B24E;
        border-radius: 12px;
        padding: 13px;
        display: flex;
        align-items: center;
        height: 47px;

     }
     
     .site-icon{
        max-width: 48px;
        height: 48px;
     }

     .Location{
        max-width: 395px;
        width: 100%;
        padding: 10px;
        display: grid;
        justify-content: center;
      
     }

     .check_1{
        
        font-size: 14px;
        display: grid;
        gap: 10px;
       
       
        
       
     }
   .search_location{
    margin-top: 16px;
    border-color: #F8F8F8;
    max-width: 331px;
    width: 60%;
    border-radius: 10px;
    border: 1px #F8F8F8;
    
   }
   
   .property{
    padding-top: 46px;
   }

   .price-range{

    padding-top: 39px;
    
   }
   
   .check_2{
        
        gap: 20px;
        font-size: 14px;
        display: grid;
        gap: 10px;
        font-size: 14px;
       

   }
   .city-image{
   max-width: 1220px;
   width: 100%;
   position: relative;
   margin-left: 50px;
   }

 .section_1{
    display: flex;
    padding: 70px;
 }
 .photoBig-text{
    font-size: 48px;
    position: absolute;
    top:230px;
    
 }

 .findhouse_image{
   display: flex;
   justify-content: flex-end;

 }

 input[type=checkbox]{
   width: 20px;
   height: 20px;
   background-color: #FA9E57;
}

input[type=checkbox]:checked{
   background-color: #FA9E57;
}
.Namanga{
   max-width: 395px;
   width: 100%;
   
}
.section_2{
   display: grid;
   grid-template-columns: auto auto auto auto;
   

}

.Destination{
   font-size: 16px;
}
.Home_name{
   font-size: 14px;
   color: #000000;
   opacity: 50%;
   padding: 8px;
}

.Price_Home{
   color:#29B24E;
   font-size: 24px;
}

.Time{
   font-size: 14px;
   display: flex;
   justify-content: flex-end;
   margin-right: 50px;
}



   .Namanga > ul{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
   }
   .Top{
      font-size: 12px;
      background-color: #29B24E;
      color: #F8F8F8;
      border-radius: 15px;
      max-width:65px;
      padding: 4px;
      
      


   }
   .Home_all{
      position: relative;
      max-width: 363px;
      width: 90%;
   }

 .section2_h4{
   font-size: 18px;
   padding: 36px;
   margin-left: 70px;
 }

footer{
   background-color: #29B24E;
 
   height: 150px;
   border-radius: 20px;
 
}

footer a{
   color: #F8F8F8;
}
footer ul{
   display: flex;
}

.footer_section{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.footer_nav{
     display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.footer_line{
   display: flex;
   justify-content: center;
   
}
.Line_F{
   display: flex;
}

