@font-face {
	font-family: "popins";
	src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap")
	;
}
@font-face {
	font-family: "Rubik";
	src: url("../font/RubikPuddles-Regular.woff2") format("woff2"),
		url("../font/RubikPuddles-Regular.ttf") format("ttf"),
		url("../font/RubikPuddles-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}